@import "../base/reset";
@import "../base/typography";


/* AUTHENTICATE */
.authenticate{
     display: flex;
     justify-content: space-evenly;
     height: max-content;
     img{
          align-self: flex-start;
          height: 100%;
     }

     .authenticate-form{
          height: max-content;
          padding: 2%;
          background-color: $card-color;
          border-radius: 20px;
          min-width: 35vw;
          
          form{
               display: grid;
               grid-template-rows: 100px 1fr 50px;
               height: 100%;
               
               
               .formSubmit, .formText{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                  
                    h2{
                         font-family:"AutourOne"
                    }
               }
               
               .formInputs{
                    display: flex;
                    flex-direction: column;
                    align-items: centercent;
               
                    #emailTxt{
                         padding: 10px;
                    }
               }
                  
          }
     }
     

}

   
   /* CONNECTION */
   