.contact{
     height: 100%;
     padding: 20px;

     .contactCont{
          min-height: 60vh;

          padding: 20px;
          .mapsCont{
               display: grid;
               grid-template-rows: 50px 1fr;

               .maps{
                    background-image: url('./../maps.jpg');
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
               }
          }

          .socials{
               .socialChild{
                    min-height: 50px;
                    margin-top: 10px;

                    &>*{
                         display: flex;
                         align-items: center;
                         padding: 5px;
                    }
               }
          }
     }
}