@import "../base/reset";
.infoPanel, .information{
     background-color: $card-color;
     border-radius: 25px;
     padding: 20px;
}
.newsGrid{
     height: 100%;

     .newsChild{
          background-color: $inverse-bg;
          color: $bg-color;
          border-radius: 10px;
          display: grid;
          grid-template-rows: 1fr 50px;
          min-height: 50px;
          overflow: hidden;

          .newsInfo{
               padding: 5px 10px;
               h2{
                    font-size: inherit;
               }
          }

          .newsImg{
               background-color: $primary-color;
          }
     }
     
}
.information{
     overflow:hidden;
     .zoneTitle{
          padding: 10px;
     }
     .zoneTitle::before{
          content: " ";
          background-color: $primary-color;
          padding: 0px 5px 0px 0px;
          max-height: 5px;
          margin: 0px 10px 0px 0px;
     }
     .infoStudent{
          padding: 20px;
     }
     .usefulInfo{
          overflow-y: scroll;
     }
     .enAttente{
          border: 1px solid #909090;
          border-radius: 5px;
          padding: 5px;
          margin-bottom: 2px;
          &>*{
               padding: 2px 0px;
          }
          .guiAdmin{
               display: flex;
               align-items: center;
               justify-content: space-around;

               span{
                    display: flex;
                    flex-direction: column;
                    label{
                         transform: scale(0.8);
                         color: #00000070;
                    }
                    input{
                         min-height: max-content;
                         border-radius: 0px;
                         background: #ffffff50;
                         border-bottom:1px solid #909090;
                    }
               }
               button{
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid #00000070;
                    color: white;
                    &.reject{
                         color: #fa5050;
                         border-color: #fa5050;
                    }
                    &.accept{
                         background: #209020;
                    }
                    &:hover{
                         background: black;
                         color: white;
                    }
               }
          }
     }
}
.infoPanel{
     .disconnectCta{
          .deconnexion{
               color: #e94b3c;
          }
     }
     .infoImg{
          display: flex;
          justify-content: center;
          align-items: center;
          .userImg{
               height: 17vw;
               width: 17vw;
               background-image: url('./../user.jpg');
               background-position: center;
               background-size: cover;
               border-radius: 50%;
          }
     }
     
}