@import "../utils/variables";
@import "./typography";

*,*::after,*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// border: 1px solid black; 
	transition: 0.3s;
}

a{
	color: inherit;
	list-style: none;
	text-decoration: none;
}