@font-face {
     font-family: "AutourOne";
     src: local("AutourOne"),
          url("../font/AutourOne.ttf") format("truetype");
     font-weight: regular;
}

/* Fonts */
$header-primary:"AutourOne", "Arial Rounded Mt bold";
$font-stack-secondary:'Poppins', sans-serif;
