@import "../base/reset";


header{
     display: grid;
     grid-template-columns: 300px 1fr;
     padding-bottom: 5px;
     border-bottom: 1px solid #90909015;

     .logoCont{
          display: flex;
          justify-content: center;
          align-items: center;

          &>*{
               width: 200px;
          }
     }
     .menuZone{
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          ul {
               display: flex;
               
               li{
                    margin: 0px 10px;
                    padding: 5px 20px;
                    min-width: 10vw;
                    font-size: 16px;

                    &:hover{
                         color: $primary-color;
                    }
               }
          }
     }
}